<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>關於我們 - 美食天堂</title>
    <link rel="stylesheet" href="../static/css/about.css" />

    <!-- css share -->
    <link rel="stylesheet" href="../static/css/base.css" />

    <!-- js header -->
    <script src="../component/nav/restaurantNav.js"></script>
    <script src="../component/header/restaurantHeaderNav.js"></script>

    <!-- js footer -->
    <script src="../component/footer/card/card.js"></script>
    <script src="../component/footer/formCard/formCard.js"></script>
    <script src="../component/footer/restaurantFooter.js"></script>

    <!-- js share -->
    <script src="../component/backToTop/backToTop.js"></script>
  </head>
  <body>
    <back-to-top></back-to-top>
    <restaurant-header-nav>
      <span slot="title">關於我們</span>
      <span slot="subtitle">可以更了解我們的團隊</span>
    </restaurant-header-nav>

    <main>
      <div class="con">
        <h3 class="section_divider">餐廳的歷史與背景</h3>
        <hr />
        <div class="leftbox row">
          <div id="img_about_intro" class="col-sm-6 col-xs-12">
            <img
              src="https://www.sushiexpress.com.tw/img/about/about_intro.jpg"
              width="542"
              height="263"
            />
          </div>
          <div id="content_intro" class="about_content col-sm-6 col-xs-12">
            <ul class="u1">
              <li>
                我們的使命是讓每一位顧客都能享受到來自世界各地的美味佳肴。
              </li>
              <li>美食天堂專注於提供獨特的料理體驗，結合傳統與創新。</li>
              <li>我們的分店遍佈全球，並持續拓展至更多國際市場。</li>
              <li>擁有來自不同國家的專業廚師，為顧客提供高品質的餐飲服務。</li>
            </ul>
          </div>
        </div>
        <h3 class="section_divider">旗下品牌</h3>
        <hr />
        <div class="rightbox row">
          <div id="content_intro1" class="about_content col-sm-6 col-xs-12">
            <div class="about_logo">
              <img src="../static/picture/food.png" style="width: 100px" />
            </div>
            <p>
              在美食天堂，我們精心挑選來自世界各地的美味佳肴，為每位顧客提供無與倫比的用餐體驗。無論是經典傳統料理，還是創新的美食組合，每一口都讓您感受到料理的用心與匠心。
            </p>
            <p>
              我們的餐點不僅美味，還注重健康與新鮮，讓顧客在享受美食的同時，也能體驗食材的真味與多樣性。我們期望每位顧客在這裡找到屬於自己的美食故事，並與我們一起愛上美食天堂。
            </p>
          </div>
          <div id="img_about_intro1" class="col-sm-6 col-xs-12">
            <img
              src="https://www.sushiexpress.com.tw/img/about/about_eatin.png"
            />
          </div>
        </div>
        <h3 class="section_divider">了解我們</h3>
        <hr />
      </div>

      <section class="about-us">
        <p>歡迎來到美食天堂！我們專注於提供最美味的佳餚和難忘的用餐體驗。</p>
        <p>
          從傳統到創新，我們的料理匯集了世界各地的精髓，適合每一位美食愛好者。
        </p>
        <img
          src="https://www.wowlavie.com/files/article/a1/19101/atl_m_200019101_576.jpg"
          alt="美食天堂的團隊"
          class="team-photo"
        />
      </section>
    </main>

    <restaurant-footer></restaurant-footer>
  </body>
</html>
