<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>關於我們 - 美食天堂</title>
  <link rel="stylesheet" href="../static/CSS/about.css">

</head>
<body>
  <header>
    <h1>關於我們</h1>
    <p>可以更了解我們的團隊</p>
  </header>
    <nav>
      <a href="index.html">首頁</a>
      <a href="about.html">關於我們</a>
      <a href="menu.html">菜單</a>
      <a href="index.html#contact">聯絡我們</a>
      <a href="talent_recruitment.html">人才招募</a>
    </nav>
  <main>
    <div class="con">
      <h3 class="section_divider">餐廳的歷史與背景</h3>
      <hr>
      <div class="leftbox row">
        <div id="img_about_intro" class="col-sm-6 col-xs-12"><img src="https://www.sushiexpress.com.tw/img/about/about_intro.jpg" width="542" height="263"></div>
        <div id="content_intro" class="about_content col-sm-6 col-xs-12">
          <ul class = "u1">
            <li>1996年創立</li>
            <li>台灣最大迴轉壽司品牌</li>
            <li>全球超過400家門市，遍及大陸、香港、新加坡和泰國</li>
            <li>超過10,000名職員及數百家合作廠商</li>
          </ul>
        </div>
      </div>
      <h3 class="section_divider">旗下品牌</h3>
      <hr>
      <div class="rightbox row">
        <div class="col-sm-6 col-xs-12"><img src="https://www.sushiexpress.com.tw/img/about/about_eatin.png"></div>
        <div class="about_content col-sm-6 col-xs-12">
            <div class="about_logo">
                <img src="/img/about/about_logo_eatin.png"></div>
            <p>超過80款盤盤精彩的壽司與小菜，透過迴轉台一一呈現在顧客眼前，實現顧客與美食零距離。每盤30元起的親民價格，期許更多人能和我們一起愛上壽司。</p>
        </div>
      </div>
      <h3 class="section_divider">了解我們</h3>
      <hr>
    </div>
    
    <section class="about-us">
      <p>歡迎來到美食天堂！我們專注於提供最美味的佳餚和難忘的用餐體驗。</p>
      <p>從傳統到創新，我們的料理匯集了世界各地的精髓，適合每一位美食愛好者。</p>
      <img src="https://www.wowlavie.com/files/article/a1/19101/atl_m_200019101_576.jpg" alt="美食天堂的團隊" class="team-photo">
    </section>
  </main>

  <footer>
    <p>&copy; 2024 美食天堂. 保留所有權利.</p>
  </footer>
</body>
</html>
