h2 {
  border-bottom: #f5f0e6;
  text-align: center;
  font-style: italic;
}
section {
  margin: auto;
  padding: 2.5rem;
  max-width: 1200px;
}

.hero {
  padding: 5rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.chinatimes.com/newsphoto/2020-07-04/1024/20200704002641.jpg')
      no-repeat center center/cover;
  color: #fff;
  text-align: center;
}

.hero h1 {
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}

.container1 {
  padding: 2.5rem 0;
  background: radial-gradient(circle,#ffffff 0%,#f5f0e6 50%,#e6dcd3 100%);
}

.container2 {
  padding: 2.5rem 0;
  background: linear-gradient(to bottom right,#ffffff 0%,#e6dcd3 100%,#f5f0e6 50%);
}


/* 表單 */
#reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2.5rem auto;
  padding: 2.5rem;
  max-width: 600px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

#reservation label {
  color: #2c2c2c;
  font-weight: bold;
}

#reservation input,
#reservation button {
  padding: 1rem;
  border: 1px solid #d4af37;
  border-radius: 8px;
  font-size: 1.1rem;
}

#reservation input:focus {
  outline: none;
  border-color: #d4af37;
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.5);
}

#reservation button {
  background: #d4af37;
  color: #2c2c2c;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

#reservation button:hover {
  background: #e8c46c;
}

.more-info {
  margin-top: 20px;
  text-align: center;
}

.more-info a {
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid #d4af37;
  border-radius: 5px;
  color: #d4af37;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.more-info a:hover {
  background-color: #d4af37;
  color: #fff;
}

.content-with-image {
  display: flex;
  align-items: center;

  gap: 20px;
}

.text-content {
  flex: 1;
}

.text-content h2 {
  margin-bottom: 10px;
  font-size: 1.8em;
}

.text-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.text-content .more-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.text-content .more-info a:hover {
  text-decoration: underline;
}

.content-with-image img {
  flex-shrink: 0;
  width: 500px;
  border-radius: 8px;
}
